# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# virtualenv
venv/
.venv/
hello_laundry/   # if your venv folder named hello_laundry

# Django
*.sqlite3
media/
staticfiles/

# Env / secrets
.env
.env.local

